[Unit]
Description=mehalter.com Python daemon

[Service]
Type=simple
ExecStart=/usr/bin/python2 /var/www/mehalter.com/server.py
WorkingDirectory=/var/www/mehalter.com
Restart=always
RestartSec=2

[Install]
WantedBy=sysinit.target
