<style type="text/css">
body {
  font-family: monospace;
  margin: 20px 10px 0px 70px;
  width: 700px;
}

h1, h2, h3 {
  font-size: 12px;
  margin: 10px 0px -10px -50px;
}

pre {
  margin-left: 30px;
}

.title {
  margin-bottom: 15px;
}

.author, .date {
  display: none;
}
</style>
